<div class="card">
  <header class="card-header font-weight-bold">
    <p class="card-header-title is-centered">
      新規登録
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      
        <div class="field">
          <%= f.label :username, "名前" %><br />
          <%= f.text_field :username, autofocus: true, autocomplete: "username", class:"input form-control", type:"text" %>
        </div>
        
        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input form-control", type:"text" %>
        </div>
      
        <div class="field">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"input form-control", type:"password" %>
        </div>
      
        <div class="field">
          <%= f.label :password_confirmation, "確認用パスワード" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input form-control", type:"password" %>
        </div>
      
        <div class="actions">
          <%= f.submit "新規登録", class:"button is-success" %>
        </div>
      <% end %>
      <div class="button is-warning mt-2">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>