<section class="section">
  	<div class="container">
      <h1 class="title">
        プロフィール
      </h1>
	</div>
</section>

<table class="table is-fullwidth">
	<thead>
		<tr>
			<th>アイコン画像</th>
			<th>ユーザー名</th>
			<th>自己紹介</th>
		</tr>
	</thead>
	<tbody>
	    <td><%= attachment_image_tag @user, :profile_image, fallback: "default.icon.png", :size => '100x75' %></td>
        <td><%= @user.username %></td>
        <td><%= @user.self_introduction %></td>
    </tbody>
</table>

<%= link_to "アカウント", :users, class: "button is-light is-small" %>
<%= link_to "編集", edit_user_path(current_user), class: "button is-light is-small" %>
