<h1>プロフィール</h1>

<h3>アイコン画像</h3>
<%= attachment_image_tag @user, :profile_image %>

<h3>ユーザー名</h3>
<%= @user.username %>

<h3>自己紹介</h3>
<%= @user.self_introduction %>

<p><%= link_to "編集", edit_user_path(current_user) %></p>
<p><%= link_to "アカウント", :users %></p>