<h3>予約確認</h3>

<%= form_with model: @reservation do |f| %>
    <table>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <tr>
        <th><%= f.label :check_in, "チェックイン" %></th>
        <td><%= f.date_field :check_in %></td>
      <tr>
      <tr>
        <th><%= f.label :check_out, "チェックアウト" %></th>
        <td><%= f.date_field :check_out %></td>
      <tr>
      <tr>
        <th><%= f.label :people_number, "人数" %></th>
        <td><%= f.text_field :people_number %></td>
      <tr>
    </table>
  
    <%= f.submit "予約する" %>
  <% end %>