<h3>予約確認</h3>

<%= form_with model: @reservation do |f| %>
    <table>
      <tr>
      <th><%= f.label :check_in, "チェックイン" %></th>
      <td><%= f.date_field :check_in %></td>
      <tr>
      <tr>
      <th><%= f.label :check_out, "チェックアウト" %></th>
      <td><%= f.date_field :check_out %></td>
      <tr>
      <tr>
      <th><%= f.label :people_number, "人数" %></th>
      <td><%= f.text_field :people_number %></td>
      <tr>
    </table>
  
    <p>※入力内容に不備があります。入力内容を確認して下さい。</p>
  
    <%= f.submit "予約する" %>
  <% end %>