<h1>予約済み一覧</h1>

<table>
	<thead>
		<tr>
			<th>施設名</th>
			<th>紹介文</th>
			<th>チェックイン</th>
      <th>チェックアウト</th>
      <th>予約確定日時</th>
		</tr>
	</thead>
	<tbody>
	<% @reservations.each do |reservation| %> 
		<% @rooms = Room.where(id: reservation.room_id) %>
			<% @rooms.each do |room| %>
				<tr>
					<td><%= reservation.room.title %></td>
					<td><%= reservation.room.body %></td>
					<td><%= reservation.check_in %></td>
					<td><%= reservation.check_out %></td>
					<td><%= reservation.created_at.to_s(:datetime_jp) %></td>
				</tr>
		<% end %>
	<% end %>
	</tbody>
</table>