<h3>新規登録</h3>
 
<%= form_with model: @room do |f| %>
	<%= f.label :title, "施設名" %>
	<%= f.text_field :title %>

	<%= f.label :body, "施設詳細" %>
	<%= f.text_area :body %>

	<%= f.label :price, "料金" %>
	<%= f.text_field :price %>

	<%= f.label :adress, "住所" %>
	<%= f.text_field :adress %>

	<%= f.label :room_image, "施設画像" %>
	<%= f.file_field :room_image %>
	

	<%= f.submit "保存" %>
<% end %>
